* {
    line-height: 1.5;
}

div {
    color: blueviolet;
}

.alert-text {
    color:chocolate;
}

#title {
    color:darkblue;
}

.subsection.header {
    color: red;
}

.subsection#preview{
    color:blue;
}

.ancestor .contents {
    color: darkgreen;
    font-weight: bold;
}

/*essential css styles*/
p {
    color: chartreuse;
    background-color: darkred;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
}

img {
    height: auto;
    width: 500px;
}

/*selector can be a type, class or id
* - everything
div
.class1
#id

/* descendant combinator, all class 2 descended from class 1
.class1 .class2
div p
*/

/*chaining selectors, all class1+class2 on
.class1.class2